{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{# @var entity \EasyCorp\Bundle\EasyAdminBundle\Dto\EntityDto #}
{% trans_default_domain ea.i18n.translationDomain %}

<!DOCTYPE html>
<html lang="{{ ea.i18n.htmlLocale }}" dir="{{ ea.i18n.textDirection }}" data-turbo="false">
<head>
    {% block head_metas %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="robots" content="noindex, nofollow, noarchive, nosnippet, noodp, noimageindex, notranslate, nocache" />
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="generator" content="EasyAdmin" />
    {% endblock head_metas %}

    {% block head_stylesheets %}
        <link rel="stylesheet" href="{{ asset('app.css', ea.assets.defaultAssetPackageName) }}">
    {% endblock %}

    {% block configured_stylesheets %}
        {{ include('@EasyAdmin/includes/_css_assets.html.twig', { assets: ea.assets.cssAssets ?? [] }, with_context = false) }}
        {{ include('@EasyAdmin/includes/_encore_link_tags.html.twig', { assets: ea.assets.webpackEncoreAssets ?? [] }, with_context = false) }}
    {% endblock %}
    {% block head_javascript %}
        <script src="{{ asset('app.js', ea.assets.defaultAssetPackageName) }}"></script>
    {% endblock head_javascript %}

    {% block configured_javascripts %}
        {{ include('@EasyAdmin/includes/_js_assets.html.twig', { assets: ea.assets.jsAssets ?? [] }, with_context = false) }}
        {{ include('@EasyAdmin/includes/_encore_script_tags.html.twig', { assets: ea.assets.webpackEncoreAssets ?? [] }, with_context = false) }}
    {% endblock %}

    {% if 'rtl' == ea.i18n.textDirection %}
        <link rel="stylesheet" href="{{ asset('app.rtl.css', ea.assets.defaultAssetPackageName) }}">
    {% endif %}

    {% block configured_head_contents %}
        {% for htmlContent in ea.assets.headContents ?? [] %}
            {{ htmlContent|raw }}
        {% endfor %}
    {% endblock %}
</head>

{% block main %}
        <div class="ts-wrapper form-select multi plugin-dropdown_input plugin-clear_button plugin-remove_button">
            <div class="ts-control" role="combobox" aria-haspopup="listbox" aria-expanded="false" aria-controls="Ad_tags-ts-dropdown" id="Ad_tags-ts-control" aria-labelledby="Ad_tags-ts-label" tabindex="0">
                {% for tag in tagged %}
                    <div data-value="{{ tag.id }}" class="item" data-ts-item="">{{ tag.name }}<a href="javascript:void(0)" class="remove" tabindex="-1" title="">├Ч</a></div>
                {% endfor %}
                <input class="items-placeholder" tabindex="-1" placeholder="">
                <div class="clear-button" title="">тип</div>
            </div>
            <div class="ts-dropdown multi plugin-dropdown_input plugin-clear_button plugin-remove_button" style="display: none; visibility: visible;">
                <div class="dropdown-input-wrap">
                    <input type="select-multiple" autocomplete="off" size="1" tabindex="-1" class="dropdown-input">
                </div>
                <div role="listbox" tabindex="-1" class="ts-dropdown-content" id="Ad_tags-ts-dropdown" aria-labelledby="Ad_tags-ts-label">
                    {% set i = 1 %}
                    {% for notTag in notTagged %}
                        <div data-selectable="" data-value="{{ notTag.id }}" class="option" role="option" id={{ "Ad_tags-opt-%s"|format(i) }}>{{ notTag.name }}</div>
                        {% set i = i + 1 %}
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}
